.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Color-Wheel{
  height: 100;
  width: fit-content;
  padding:20px;
  border: none;
  margin:auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.Color-Display{
  width: 100vw;
  height: 2.5vh;
  margin-top: 20;
  margin-bottom: 20;
  padding-bottom: 20;
  background: blue;
}

.Buttons{
  width: 100vw;
  height: 2.5vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
