.App {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
}

.App-body {
  text-align: center;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  
}

.Brightness-Slider{
  margin:auto;
  margin-top: 0vh;
}

.Buttons{
  width: 100vw;
  height: 2.5vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.Color-Wheel{
  height: 100;
  width: fit-content;
  padding:20px;
  border: none;
  margin:auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.Color-Display{
  width: 100vw;
  height: 2.5vh;
  margin-top: .5vh;
  margin-bottom: .5vh;
  background: blue;
}

.Content
{
  width: 75%;
  margin:auto;
  margin-top: 0vh;
}
.Effects-Buttons{
  width: 100vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
